{% extends 'nav.html' %}
{% load static %}

{% block title %}

Wholeseller | Signup

{% endblock title %}

{% block style %}

<style>
 .btn{
    font-family: "Raleway", "sans-serif";
    font-weight: 500;
    font-size: 16px;
    letter-spacing:  1px;
    display: inline-block;
    padding: 10px, 30px;
    border-radius: 50px;
    transition: 0.5s;
    color: black;
    border: 2px solid #3498db;
}

.btn:hover
{
    background-color: #3498db;
    color: white;
}
</style>

{% endblock style %}


{% block body %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-4">
         <br><br><br><br><br><br><br>
<div class="text-center">        
    <h1 data-aos="fade-up" >Signup</h1>
</div>
<br>
<div class="container" data-aos="fade-up" data-aos-delay="400">

    <!-- Alert message section below -->
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
        <strong></strong>{{message}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div><!-- End alert message section  -->
    {% endfor %}

    <form action= "/ecomauth/signup/" method= "post">{% csrf_token %}
        
        <label for= "email">Email</label>
        <div class= "form-group">
        <input type= "email" class= "form-control" id="email" name= "email" required>
        </div>
        
        <label for= "pass1">Password</label>
        <div class= "form-group">
        <input type= "password" class= "form-control" id="pass1" name= "pass1" required>
        </div>
        
        <label for= "pass2">Confirm Password</label>
        <div class= "form-group">
        <input type= "password" class= "form-control" id="pass2" name= "pass2" required>
        </div>
        
        <br>

        <div class="text-center">
            <button type= "submit" class= "btn">Signup</button>
        
        
        
        <br><br>
        
        <b>Already a user?</b> <a href= "/ecomauth/login/" class= "btn btn-sm btn-block">Login</a>
        
        
        
        </div>
        </form>
</div>
    </div>
    <div class="col-md-7">
        <section id="hero" class="d-flex align-items-center">

           
       
                <div class="col-lg-4 pt-5 pt-lg-0 order-2 order-lg-1 d-flex flex-column justify-content-center">
                  
                  
                </div>
                <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left" data-aos-delay="200">
                  <img src="{% static 'assets/img/cart.jpg' %}" class="img-fluid animated" alt="">
                </div>
             
            
        
        </section>
    </div>
{% endblock body %}